<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - gRPCClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gRPCClient.styles.css" asp-append-version="true" />
    <style>
        .btn-heading {
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            margin: 0.25rem;
            border-radius: 0.25rem;
            /*transition: background-color 0.3s ease;*/
            outline: none;
            background-color: #F8F8F8;
            border: none;
            color: #333;
            font-family: Arial, sans-serif;
        }

            .btn-heading:hover {
                background-color: #ECECEC;
            }
    </style>
</head>
<body>
    <header>
@*        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style=" font-size: 24px;color: #6f7996;font-weight: bold;font-family:Papyrus" asp-area="" asp-controller="Product" asp-action="Index">Logistics Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Visualization">Visualization</a>
                        </li>               
                    
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AddUser">Add User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
               @* <a class="navbar-brand" style="font-size: 24px; color: #6f7996; font-weight: bold; font-family: Papyrus" asp-area="" asp-controller="Product" asp-action="Index">Logistics Dashboard</a>*@
                <a class="navbar-brand" style="font-size: 30px; font-weight: bold; font-family: 'Poppins', sans-serif; color: #6f7996; text-decoration: none; background: linear-gradient(to right, #ff6b6b, #ff9f43); -webkit-background-clip: text; -webkit-text-fill-color: transparent;" asp-area="" asp-controller="Product" asp-action="Index">Logistics Dashboard</a>

               @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark btn btn-link btn-heading" asp-area="" asp-controller="Product" asp-action="Index">Home</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-link btn-heading" asp-area="" asp-controller="Product" asp-action="Visualization" title="View Visualization">Visualization</a>
                        </li>
                       
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-link btn-heading" asp-area="" asp-controller="Product" asp-action="ReadData" title="To scan NFC tags. **MAKE SURE TO CONNECT THE READER**">Scan</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark btn btn-link btn-heading" asp-area="" asp-controller="Product" asp-action="WriteData">Write Data to Tag</a>*@
                        @*</li>*@
                        <li class="nav-item">
                        <a class="nav-link text-dark btn btn-link btn-heading" asp-area="" asp-controller="Product" asp-action="ExportToExcel" title="Export data to Excel">Export to Excel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-link btn-heading" asp-area="" asp-controller="Product" asp-action="AddUser" title="Add a user to the authorization list">Add User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-link btn-heading" asp-area="" asp-controller="Product" asp-action="Logout" title="Logout of the current session">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
          @*  Logistics Dashboard<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
